:root {
  --bg-color: #f8f9fa;       /* Terang */
  --text-primary: #002776;   /* Biru Tua */
  --accent: #009c3b;         /* Hijau */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  color: var(--text-primary);
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}